#local test
BACKEND_URL=http://localhost:8000/api/v1/property 
#when deployed. Set up env variable on webservices, eg. Render
BACKEND_URL=https://api.propertydataservices.com.au/api/v1/property

API_KEY=opendata-guest-2026
TEMP_PASSWORD=changeme
